<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acerca del curso</title>
</head>
<body>
    <h1>Información de la Clase</h1>
    <p><strong>Curso:</strong> {{curso}}</p>
    <p><strong>Profesor:</strong> {{profesor}}</p>
    <p><strong>Fecha:</strong> {{fecha}}</p>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>